<%= flash[:new_user] %>

<p><a href="/users/new">Subscribe to Mailing List</a> | <a href="/email-users">Email List</a></p>
<h1>Subscribed Users:</h1>

<% @users.each do |user| %>
  <p> <%= user.email %> </p>
<% end %>